<a href="{{ link }}" class="accordion__toggle bold" {{ block.shopify_attributes }}>
    {%- if icon -%}
      <div class="text-with-icon">
        {%- render 'icon' with icon -%}
        <span {% if size == 'lg' %}class="h6"{% endif %}>{{- title | escape -}}</span>
      </div>
    {%- else -%}
      <span {% if size == 'lg' %}class="h6"{% endif %}>{{- title | escape -}}</span>
    {%- endif -%}
</a>