<div class="countdown-timer">
  <div class="wrapper">
    <div class="countdown_main">
      <div class="countdown_main_heading">
        <p class="countdown_title h4">{{ block.settings.countdown_heading }}</p>
        <p class="countdown_subtitle">{{ block.settings.countdown_subheading }}</p>
      </div>
      <p id="countdown" data-timer="{{ block.settings.timer }}"></p>
    </div>
  </div>
</div>
