<style>
img {
    max-width: 100%
}
</style>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet" target="_blank">
<link href="https://public.cdn-auctiofy.com/resources/frameworks-extern/normalize/normalize.css?v=c2d180b9874e1a8364a62cd28cda4673" rel="stylesheet" target="_blank">
<link href="https://public.cdn-auctiofy.com/resources/frameworks-extern/bootstrap-4.5.3-dist/css/bootstrap.min.css?v=c2d180b9874e1a8364a62cd28cda4673" rel="stylesheet" target="_blank">
<link href="https://public.cdn-auctiofy.com/resources/frameworks-extern/font-awesome-4.6.3/css/font-awesome.min.css?v=c2d180b9874e1a8364a62cd28cda4673" rel="stylesheet" target="_blank">
<link href="https://public.cdn-auctiofy.com/resources/auktionsvorlagen/flat2k/flat2k.css?v=c2d180b9874e1a8364a62cd28cda4673" rel="stylesheet" target="_blank">
<link rel="stylesheet" target="_blank" href="https://public.cdn-auctiofy.com/resources/_cr.css?v=c2d180b9874e1a8364a62cd28cda4673">
<style type="text/css">
body, html {
    --color-1: #f2c315 !important;
    --color-2: #303840 !important
}
</style>
<div class="body">
    <!-- Logo -->
    <div class="row">
        <div class="col-12 _logo p-0">
            <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_logo_0_4369_173738704410a8d51b225dc1071491b3a60ef71435.jpg" class="logo img-responsive" style="display:inline-block">
        </div>
        <style>
        ._logo {
            text-align: left
        }
        </style>
        <style>
        ._logo img {
            max-width: 350px !important
        }
        </style>
    </div>
    <!-- Logo -->

    <!-- Headerlinks -->
    <div class="row d-none d-sm-none d-md-block">
        <div class="col-12 _headerlinks">
            <a href="https://www.ebay.de/usr/balkonstromgmbh/" target="_blank" class="_header-shortlinks">zu unserem Shop</a>
            <a href="https://www.ebay.de/usr/balkonstromgmbh?_tab=about" target="_blank" class="_header-shortlinks">Verkäuferprofil</a>
            <a href="https://www.ebay.de/usr/balkonstromgmbh?_tab=feedback" target="_blank" class="_header-shortlinks">Bewertung</a>
            <a href="https://www.ebay.de/contact/sendmsg?recipient=balkonstromgmbh" target="_blank" class="_header-shortlinks">Kontakt</a>
        </div>
    </div>
    <!-- Headerlinks -->

    <!-- Banner-Slider -->
    <div class="row d-none d-sm-none d-md-block">
        <div class="col-12 p-0 m-0">
            <div class="css-slideshow">
                <div class="banner-slider" style="-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';filter:alpha(opacity=1);-moz-opacity:1;-khtml-opacity:1;opacity:1;">
                    <img src="https://cdn.shopify.com/s/files/1/0609/9481/4140/files/ebay_Banner.webp?v=1736520616"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner-Slider -->

    <!-- Images / Description Block -->
    <div class="row image-description-block">
        <!-- Images -->
        <div class="col-12 col-md-6">
            <div class="pro_gallery">
                <input name="pro_gallery_switch" id="gallery_image_1" checked="" type="radio">
                <label for="gallery_image_1" class="">
                    <div class="pro_gallery_thumbnail">
                        <img src="{CDNUrl}/productimages/{ProductID}.png?width=800&etag={etag}
">
                      
                    </div>
                </label>
                <div class="pro_gallery_big_image">
                 <img src="{CDNUrl}/productimages/{ProductID}_2.png?width=800&etag={etag}" alt="Second Image">
 
                </div>
                <input name="pro_gallery_switch" id="gallery_image_2" type="radio">
                <label for="gallery_image_2" class="">
                    <div class="pro_gallery_thumbnail">
                       {for images start=0 step=1}
    <img src="{CDNUrl}/user/{UserID}/{ProductID}/usf_article-images_{index}_{ProductID}_{etag}.jpg" alt="Image {index + 1}">
{/for}



                    </div>
                </label>
                <div class="pro_gallery_big_image">
                    <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_1_4369_17373874283ef8baeae4861a31422d6fe0269bbc8c2f69ffcb.jpg">
                </div>
                <input name="pro_gallery_switch" id="gallery_image_3" type="radio">
                <label for="gallery_image_3" class="">
                    <div class="pro_gallery_thumbnail">
                        <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_2_4369_173738742873cad516c933b8d69b40abaec79095b4c46574ad.jpg">
                    </div>
                </label>
                <div class="pro_gallery_big_image">
                    <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_2_4369_173738742873cad516c933b8d69b40abaec79095b4c46574ad.jpg">
                </div>
                <input name="pro_gallery_switch" id="gallery_image_4" type="radio">
                <label for="gallery_image_4" class="thumbnail-no-m-r">
                    <div class="pro_gallery_thumbnail">
                        <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_3_4369_1737387047c8ecf5cf5d5bf52b13540494dee104ac.jpg">
                    </div>
                </label>
                <div class="pro_gallery_big_image">
                    <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_3_4369_1737387047c8ecf5cf5d5bf52b13540494dee104ac.jpg">
                </div>
                <br class="hidden-xs">
                <input name="pro_gallery_switch" id="gallery_image_5" type="radio">
                <label for="gallery_image_5" class="">
                    <div class="pro_gallery_thumbnail">
                        <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_4_4369_1737387047f0ab9dd1e5a737c110a8be9a84c39a9f.jpg">
                    </div>
                </label>
                <div class="pro_gallery_big_image">
                    <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_4_4369_1737387047f0ab9dd1e5a737c110a8be9a84c39a9f.jpg">
                </div>
                <input name="pro_gallery_switch" id="gallery_image_6" type="radio">
                <label for="gallery_image_6" class="thumbnail-no-m-r">
                    <div class="pro_gallery_thumbnail">
                        <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_5_4369_173738704884cc939f433bdb2cc97d7a4fca30a324.jpg">
                    </div>
                </label>
                <div class="pro_gallery_big_image">
                    <img src="https://public.cdn-auctiofy.com/user/9/4369/usf_article-images_5_4369_173738704884cc939f433bdb2cc97d7a4fca30a324.jpg">
                </div>
            </div>
        </div>
        <!-- Images -->

        <!-- Description -->
        <div class="col-12 col-md-6">
            <h4 class="_name">{Title}</h4>
            <hr>
            <p><strong>{Title}</strong><br> 
            <strong>{Subtitle}</strong><br>
           </p>
              {eBayDescription}	
            <div vocab="https://schema.org/" typeof="Product">
                <span property="description">{Description}</span>
            </div>
            <!-- Variants -->
            <!-- Variants -->
            <!-- Buy Now Button -->
            <div class="_buynow">
                <span class="_price">{Price}</span> <span class="_tax">zzgl. 0 % MwSt.</span><br>
                <a target="_blank" href="https://offer.ebay.de/ws/eBayISAPI.dll?BinConfirm&item=156646531381" class="_btn"><i class="fa fa-shopping-cart"></i> Sofort Kaufen</a>
            </div>
            <!-- Buy Now Button -->
        </div>
        <!-- Description -->
    </div>
    <!-- Images / Description Block -->

    <!-- Tab -->
    <div class="row">
        <div class="col-12">
            <div class="tab-navigation">
                <input type="radio" checked name="tab" id="tab1-btn">
                <label for="tab1-btn" class="tab-href">Lieferumfang</label>
                <input type="radio" name="tab" id="tab2-btn">
                <label for="tab2-btn" class="tab-href">Technische Details</label>
                <input type="radio" name="tab" id="tab3-btn">
                <label for="tab3-btn" class="tab-href">Produkthighlights</label>
                <input type="radio" name="tab" id="tab4-btn">
                <label for="tab4-btn" class="tab-href">Noch Fragen?</label>
                <div id="tab1">
                    <div class="tab-content">
                        <div class="animated fadeInRight">
                            <ul>
                                <li>1 x <strong>Anker SOLIX Solarbank 2 E1600 Pro</strong>
                                    <ul>
                                        <li>4 x Anker SOLIX MC4 Solarkabel Set (3 m)</li>
                                        <li>1 x Anker SOLIX Anschlusskabel (5 m)</li>
                                        <li>1 x MC4 Schlüssel</li>
                                        <li>2 x L-förmige Wandhalterung</li>
                                        <li>2 x M5x50 Schrauben+Dübel</li>
                                        <li>2 x M5x10 Phillips Flachkopfschraube</li>
                                        <li>4 x Kabelbinder</li>
                                    </ul>
                                </li>
                                <li>1 x <strong>Anker SOLIX Smart Meter</strong></li>
                                <li><strong>Bedienungsanleitungen</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab2">
                    <div class="tab-content">
                        <div class="animated fadeInRight">
                            <p><strong>Anker SOLIX Solarbank 2 E1600 PRO</strong></p>
                            <p>• Akku-Typ: <br>
                            • Kapazität: 1600Wh<br>
                            • Ladezyklen: {Akkutechnik}<br>
                            • Maximale Eingangsleistung: 2400W Max<br>
                            • DC-Eingangsspannung pro Eingang: 16A<br>
                            • Anzahl MPPT: 4<br>
                            • Nennspannung: 16~60V<br>
                            • Eingangsstecker: MC4 Solarkabel<br>
                            • Ausgangsleistung: 800W<br>
                            • Ausgangsspannung: 3,5A Max, 230V<br>
                            • AC-Nennleistung: 220/230/240V, 50/60Hz<br>
                            • Schutzart: IP65<br>
                            • Ladetemperatur: -20°C-+55°C<br>
                            • Gewicht: 21,8 kg<br>
                            • Abmessungen: 460 x 249 x 254mm<br>
                            • Zertifikate: CE-RED, CE-EMC, REACH, BQB, SDS, CE-LVD, RoHS, PoPs, UN38,3, VDE<br>
                            • Garantie: 10 Jahre </p>
                            <p> </p>
                            <p><strong>Anker SOLIX Smart Meter</strong></p>
                            <p>• Arbeitstemperatur: -25~+55°C <br>
                            • Spannung: AC 3x 230/400V <br>
                            • Eingang: 50/60Hz, CT 40mA, 2W CATIII <br>
                            • Lebensdauer: 10 Jahre <br>
                            • Herstellergarantie: 2 Jahre <br>
                            • Installation: DIN-Schiene 35 mm <br>
                            • Konnektivität: WLAN, Bluetooth, RS-485 <br>
                            • Maße 95 x 66,5 x 36 mm <br>
                            • Gewicht: 0,36kg</p>
                        </div>
                    </div>
                </div>
                <div id="tab3">
                    <div class="tab-content">
                        <div class="animated fadeInRight">
                            <p><strong>➕ Flexible Erweiterbarkeit</strong></p>
                            <ul>
                                <li><strong>Kapazität:</strong> 1600 Wh Speicher</li>
                                <li><strong>Erweiterbar:</strong> Erweitere dein Speichersystem mit bis zu 5 Zusatzbatterien (max. 9,6 kWh)</li>
                            </ul>
                            <p><strong>🔋 Maximale Effizienz</strong></p>
                            <ul>
                                <li><strong>Eingangsleistung:</strong> Max. 2000 W</li>
                                <li><strong>Ausgangsleistung:</strong> Max. 1000 W</li>
                                <li><strong>Lade-/Entladestrom:</strong> Max. 75 A DC</li>
                                <li><strong>Batterienennspannung:</strong> 16 VDC</li>
                            </ul>
                            <p><strong>🛠️ Einfache Installation</strong></p>
                            <ul>
                                <li><strong>Plug-and-Play</strong>: Schnell und unkompliziert anschließen</li>
                                <li><strong>Keine Bürokratie</strong>: Installation ohne Genehmigung</li>
                            </ul>
                            <p><strong>🌦️ Wetterfest und langlebig</strong></p>
                            <ul>
                                <li><strong>IP65 Schutzklasse</strong>: Staub- und wasserdicht</li>
                                <li><strong>Temperaturbereich:</strong> -20°C bis 55°C</li>
                                <li><strong>Akku-Typ:</strong> LiFePO4, für <strong>15 Jahre</strong> Lebensdauer</li>
                            </ul>
                            <p><strong>💰 Kostenersparnis und Unabhängigkeit</strong></p>
                            <ul>
                                <li><strong>Reduziere Stromkosten</strong>: Mehr Eigenverbrauch und Unabhängigkeit durch Speicherung von überschüssigem Strom</li>
                                <li><strong>Intelligente Überwachung:</strong> Echtzeitüberwachung mit Anker Smart Meter via W-Lan & Bluetooth</li>
                            </ul>
                            <p><strong>🏠 Ideal für verschiedene Einsatzbereiche</strong></p>
                            <ul>
                                <li><strong>Innen- und Außeneinsatz</strong>: Robust gegen extreme Witterung</li>
                                <li><strong>Einfache Integration</strong>: Für Balkonkraftwerke und Solaranlagen</li>
                                <li><strong>Vielseitig einsetzbar:</strong> Perfekt für Haus, Garten, Balkonkraftwerke, Camping oder als Notstromlösung</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab4">
                    <div class="tab-content">
                        <div class="animated fadeInRight">
                            <p>Wir beraten dich gerne zu unseren Balkonkraftwerken & Zubehör! Vereinbare <a href="https://www.balkonstrom.com/pages/beratungstermin" target="_blank"><span style="color:#000;"><strong>einen kostenlosen Beratungstermin</strong></span></a> und sprich mit einem unserer Experten.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab -->

    <!-- Our Features -->
    <div class="row">
        <div class="col-12 our_features">
            <div class="our_features_container">
                <h2>Darum Balkonstrom®</h2>
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="flex-row row">
                        <div class="col-md-4 our_features_content_wrapper">
                            <div class="our_feature_content">
                                <div class="circle"><i class="fa fa-star-o"></i></div>
                                <h3>Exzellente Kundenerfahrung</h3>
                                <p><strong>+10.000 Kunden</strong> sind begeistert von ihrer Balkonstrom®-Anlage. Und jeden Tag werden es mehr!</p>
                            </div>
                        </div>
                        <div class="col-md-4 our_features_content_wrapper">
                            <div class="our_feature_content">
                                <div class="circle"><i class="fa fa-location-arrow"></i></div>
                                <h3>Komponenten Made in Germany</h3>
                                <p>Qualität steht bei uns an erster Stelle - daher werden unsere Kabel und Premium-Balkonkraftwerke <strong>in Deutschland</strong> hergestellt.</p>
                            </div>
                        </div>
                        <div class="col-md-4 our_features_content_wrapper">
                            <div class="our_feature_content">
                                <div class="circle"><i class="fa fa-certificate"></i></div>
                                <h3>Vertraue auf Premium-Qualität</h3>
                                <p>Bis zu <strong>25 Jahre Garantie</strong> von deutschem Garantiegeber.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Features -->

    <!-- Bestseller -->
    <div class="row">
        <div class="col-12 bestseller">
            <div class="bestseller_container">
                <div class="bestseller_headline">
                    <h2>⭐ Das sagen unsere Kunden</h2>
                </div>
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="flex-row row">
                        <div class="col-12 col-md-4">
                            <div class="bestseller_block">
                                <p><em>Top Beratung und Service, schnelle Antwort auf Fragen und Hilfestellungen. Haben gleich drei Premium Balcony 800 für ein mehr Parteien Haus bestellt. Schnelle Lieferung. Jederzeit wieder.👍🏼</em></p>
                                <p>Armin N.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="bestseller_block">
                                <p><em>Selbst als ,,Computernull" ist es mir ,dank des guten Service von Balkonstrom gelungen, den wirklich gut funktionierenden Speicher per Bluetooth einzustellen. Bin sehr zufrieden und habe für die Anlage meines Freundes gleich einen zweiten Speicher bestellen müssen.👍😄</em></p>
                                <p>Jürgen N.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="bestseller_block">
                                <p><em>Top Ware, schnelle Lieferung, leicht zu montieren und das einlernen ging auch sehr gut.</em></p>
                                <p>Sandra H.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bestseller -->
<!-- Footer -->
<div class="row">
    <div class="col-12 footer">
        <div class="col-12">
            <div class="flex-row row">
                <div class="col-12 col-md-3">
                    <div class="footer_content">
                        <h3>Über Balkonstrom®</h3>
                        <p>
                            Wir bei Balkonstrom® möchten jedem eine erschwingliche und einfache Möglichkeit bieten, um günstig Strom zu beziehen und sich unabhängiger von externer Stromversorgung zu machen. Bei unseren Balkonkraftwerken setzen wir auf hochwertige Produkte und 
                            <a href="https://www.balkonstrom.com/blogs/news/balkonkraftwerke-bloss-nicht-am-falschen-ende-sparen" target="_blank">
                                <span style="color:#FFF;"><strong>Made in Germany Komponenten</strong></span>
                            </a>
                            <span style="color:#000;">. </span>
                            Unser Sortiment umfasst Balkonkraftwerk-Komplettsets, Stromspeicher und Zubehör wie Kabel, Wechselrichter und mehr! Schau vorbei oder vereinbare ein 
                            <a href="https://www.balkonstrom.com/pages/beratungstermin" target="_blank">
                                <span style="color:#FFF;">kostenloses Beratungsgespräch</span>
                            </a>.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer_content">
                        <h3>Wir sind Trusted Shops Händler</h3>
                        <p>
                            <a href="https://cdn.shopify.com/s/files/1/0609/9481/4140/files/Logos_Bewertungen_Balkonstrom.png?v=1721157113" target="_blank">
                                <img alt="" src="https://cdn.shopify.com/s/files/1/0609/9481/4140/files/Logos_Bewertungen_Balkonstrom.png?v=1721157113" style="width:250px;height:63px;"/>
                            </a>
                        </p>
                        <p>
                            <span style="font-size:12px;">Balkonstrom.com ist mit durchschnittlich 4.84 von 5.00 Sternen bewertet, basierend auf 122 Bewertungen von Trusted Shops.</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer_content">
                        <h3>Zahlungsarten</h3>
                        <p>
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/apple_pay.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/bankeinzug.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/ebay_payments.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/google_pay.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/kreditkarte.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/paypal.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/rechnung.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/payment-icons/pack-3/ueberweisung.png">
                        </p>
                        <p></p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer_content">
                        <h3>Versand</h3>
                        <p>
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/delivery-icons/pack-3/dhl.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/delivery-icons/pack-3/dpd.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/delivery-icons/pack-3/hermes.png">
                            <img class="footer_icons" src="https://public.cdn-auctiofy.com/resources/images-packages/delivery-icons/pack-3/spedition.png">
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<!-- Copyright -->
<div class="row">
    <div class="col-12 copyright">
        <i class="fa fa-angle-right hidden-xs"></i> 
        <span class="_cr"></span> 
        <i class="fa fa-angle-left hidden-xs"></i>
    </div>
</div>
<!-- Copyright -->
</div>
<!-- 1065977 / 2025-01-21 14:45:07 -->